<div id="landing"> 
  <h1> Answer. The place to go for answers, period </h1> 




<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Sign Up">
</form>


<div id="new_user"> 
  Already a user? <%= link_to "Sign in!", new_session_url %> 
</div> 
