#brand{
	font-size: 35px;
	font-weight: bold;
	color: #3E88BC; 
}

#navaskquestion { 
	background-color: #3E88BC;
	color: GhostWhite;
}

#signout-link { 
	background-color: #3E88BC;
	color: GhostWhite;
}


	/*color: #FF4136;*/