#brand{
	font-size: 35px;
	font-weight: bold;
	color: #3E88BC; 
}

#navaskquestion { 
	background-color: #3E88BC;
	color: GhostWhite;
}

#signout-link { 
	background-color: #3E88BC;
	color: GhostWhite;
}


.container#sidebar-container{ 
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: #3E88BC;
	top: 61px;
	height: 300px;
	width: 300px;
}

.profile-container {
    position: relative;

    height: 100px;
    top: 70px;
    width: 600px;
    left: 304px;
}

.container { 
	height: 59px; }

.question-main { 
	position: relative;
	height: 900px;
	width: 700px;
	top: 52px; 
	left: 300px; 
}

.user-profile-link {
  position: relative;
  left: 900px; 
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
  background-color: red;
}

	/*color: #FF4136;*/