html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#brand{
	font-size: 35px;
	font-weight: bold;
	color: #3E88BC; 
}

#navaskquestion { 
	position: absolute;
	background-color: #3E88BC;
	color: GhostWhite;
}

#signout-link { 
	position: absolute;
	background-color: #3E88BC;
	color: GhostWhite;
}

*{
	list-style-type: none; 
}

.user-profile-link { 
   width: 40px;
   height: 40px;
}
#picture-image{
	border-radius: 50%;
	max-height: 100%;
}
.search-div {
	position: absolute; 
	left: 345px;
	top: 45px;
}

#search-holder {
	margin-bottom: 0px;
}
#form-control-search{
	left: 50px;
	width: 200px; 
}
#search-list-item{
	margin-top: 0;
	margin-bottom: 0;
	width: 200px; 
	z-index: 500;
}
#search-list-item:hover{
	background-color: black;
	color: white;

}

#search { 
	background: transparent;

}
#search-icon {
	right: 20px;

}


.container#sidebar-container{ 
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: #3E88BC;
	top: 61px;
	height: 300px;
	width: 300px;
}

.profile-container {
    position: relative;

    height: 100px;
    top: 70px;
    width: 600px;
    left: 304px;
}




.container-navbar { 
	height: 59px; }

.question-main { 
	position: relative;
	height: 100%;
	width: 700px;
	top: 52px; 
	left: 300px; 
}

.user-profile-link {
  position: relative;
  left: 900px; 
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;

}

div.single-question {
	position: relative;
	height: 100%;
	width: 73%;
	top: 70px;
	margin-left: 27%;
}


	/*color: #FF4136;*/