
.ask-question { 
	left: 300px; 
	position: relative;
	top: 100px; 
	margin: 0 auto; 
}

.question-item {
	margin: 10px;
	list-style-type: none;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: gray; 
	padding-bottom: 5px; 
}
.question-item:hover {
	text-decoration: underline; 
}
.single-question { 
	background-color: ; 

}